body {
  background-color: rgb(28, 28, 28);
}
/* 
#body-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  width: 100%;
  margin-top: 150px;
} */

.body {
  display: flex;
  flex-direction: wrap;
  gap: 30px;
  width: 100%;
}

select {
  background-color: transparent;
  color: gray;
}
