.banner {
  position: relative; 
  width: 100%;
  height: 350px;
  left: 0;
  width: 100vw;
  margin-top: 10px;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;    
  object-position: top;      
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 1;
  
}

.banner img.active {
  opacity: 1;
}

.oculto {
  display: none !important;
}
